#root {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.link-inactive {
  text-decoration: none;
  
}

.dark-inactive {
  color: #E8C0F1;
}

.light-inactive {
  color: #110BC8;
}

.link-active {
  text-decoration: underline;
  font-weight: bold;
}

.dark-active {
  color:#EF95F1;
}

.light-active {
  color: #3935A2;
}

nav {
  padding-bottom: 5px;
  padding-top: 20px;
}

.link {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.dark-page {
  color: whitesmoke;
  min-height: 100vh;
  min-width: 100vw;
}

.light-page {
  color: rgb(44, 44, 44);
  min-height: 100vh;
  min-width: 100vw;
}

.particles {
  z-index: -1;
}


.foto {
  border-radius: 15%;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100vw !important;
  }
}