:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* background-color: #ffffff; */
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.button-container {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.boton {
  position: absolute;
  top: 220px;
  left: 20px;
  z-index: 1;
  background-color: whitesmoke;
}

.boton2 {
  position: absolute;
  top: 220px;
  right: 20px;
  z-index: 1;
  background-color: whitesmoke;
}

.botones {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: auto;
  margin-bottom: 100px;
}

.descripcion {
  width: 590px;
  position: relative;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 15px;
}

.paquetes {
  width: 400px;
  flex-direction: row;
}

.home {
  width: 590px;
  margin: auto;
}

.proyectos {
  width: 590px;
  margin: auto;
}

.proyecto-img {
  width: 600px;
  height: 280px;
  border-radius: 10%;
}

.particles {
  z-index: -1;
  min-width: 100vw;
  min-height: 100vh;
}

.pagina {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.footer {
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
}

.pie {
  margin-top: 20px;
  height: 100px;
  position: absolute;
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100vw;
  }

  .descripcion {
    width: 96vw;
    position: relative;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 35px;
  }

  .paquetes {
    width: 90vw;
    flex-direction: row;
  }

  .proyectos {
    width: 100vw;
    margin: auto;
  }

  .proyecto-img {
    width: 100vw;
    height: 200px;
    border-radius: 10%;
    margin: auto;
  }

  .boton {
    position: absolute;
    top: 220px;
    width: 40vw;
    z-index: 1;
    background-color: whitesmoke;
  }

  .boton2 {
    position: absolute;
    top: 220px;
    width: 40vw;
    z-index: 1;
    background-color: whitesmoke;
  }

  .button-container {
    width: 100%;
    position: relative;
    display: flex;
    align-items: stretch;
    margin: auto;
  }

  .home {
    width: 93vw;
    margin: auto;
  }

  .botones {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: auto;
    margin-bottom: 100px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    bottom: 0;
    /* position: absolute; */
    width: 100%;
  }

  .pie {
    margin-top: 20px;
    height: 100px;
  }
}
